:root {
  --bg_color: hsla(270, 4%, 9%, 1);
  --white: hsl(0, 0%, 100%);
  //footer font color
  --footer: hsla(0, 0%, 66%, 1);
  --card_subtitle: hsla(0, 0%, 51%, 1);

  --box_shadow: hsla(0, 0%, 0%, 0.251);
}

//font-color
